<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Listings</title>
</head>
<body>
    <h1>Job Listings</h1>
    <table border="1" align="center" width="80%">
        <tr>
            <th>Company</th>
            <th>Title</th>
            <th>Location</th>
            <th>Remote</th>
            <th>Hybrid</th>
            <th>Last Seen</th>
            <th>Apply</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job[2] }}</td>
            <td>{{ job[1] }}</td>
            <td>{% if job[4] is not none %} {{ job[4] }} {% endif %} {% if job[5] is not none %}  {{ job[5] }} {% endif %} {% if job[6] is not none %} {{ job[6] }} {% endif %}</td>
            <td>{% if job[7] == 1 %} TRUE {% endif %}</td>
            <td>{% if job[8] == 1 %} TRUE {% endif %}</td>
            <td>{{ job[9] }}</td>
            <td>{% if job[3] %}<a target="_blank" href="{{ job[3] }}">{{ job[3]|truncate(50) }}{% endif %}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
<!--
{% for job in jobs %}
{{ job[11] }} {{ job[10] }} {{ job[0] }}
 {% endfor %}
-->